/*Estilização do Corpo da Página*/
body{
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
	font-family: 'Tahoma', "Arial";
}
/*Estilização da sessão HEADER da página*/
header{
	background: #2c2b2a;
	padding: 20px 0;
}
/*Estilização da sessão NAV (navegação) da página*/
nav{
	position: absolute;
	top: 110px;
	right: 0;
}
nav li { 
	display: inline;
	margin: 0 0 0 15px;
}
nav a{
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover{
	color: #FF0000;
	text-decoration: underline;
}
/*Estilização das listas da página*/
ul {
	list-style: none;
}
/*Estilização do Logotipo*/
.logo_caixa{
	width: 940px;
	position: relative;
	margin: auto;
}
.logo{
	width: 50%;
}
/*Estilização do Banner*/
.banner{
	width: 100%;
}
/*Estilização da área Sobre a Pizzaria SENAI*/
.titulo-principal{
	text-align: center;
	font-size: 2em; /* dobro da fonte padrão*/
	margin: 0 0 1em;
	clear: left;
}
.principal{
	width: 940px;
	margin: 0 auto;
	padding: 3em 0;
	background: #FFFFFE;
	text-align: justify;
}
.principal strong{
	font-weight: bold;
}
.principal em {
	font-style: italic;
}
.pizza {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}
/*Estilização do Mapa*/
.map {
	padding: 3em 0;
	background: linear-gradient(#FFFFFE, #ffbb00)
}
.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}
.map p {
	margin: 0 0 2em;
	text-align: center;
}
